/* Header Styles */

/* Header - Navigation Bar Styles */


/* Footer - Styling */

/* Unvisited Link */
.footerLinks a:link {
    color: #EAF8FC;
    text-decoration: none;
}
/* Mouse Over Link */
.footerLinks a:hover {
    color: #92E1F6;
    text-decoration: none;
}
/* Visited Link */
.footerLinks a:visited {
    color: #EAF8FC;
    text-decoration: none;
}
/* selected link */
a:active {
  color: #ffffff;
}
/* Standard Font Styles */


/* Contact Form Styles */

/*
body {
    font-family: 'Lato', sans-serif;
}
*/


body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
	margin-left: 10px;
	margin-right: 10px;
}
