/* Header Styles */

/* Header - Navigation Bar Styles */


/* Footer - Styling */

.footerLinks a{
    color: #ffffff;
    text-decoration: none;
}
.footerLinks:hover
    {
      color:#fa5705;
    }
/* Standard Font Styles */
