/* Header Styles */

/* Header - Navigation Bar Styles */


/* Footer - Styling */

.footerLinks a:link a:active{
    color: #ffffff;
    text-decoration: none;
}
.footerLinks a:link a:hover {
      color:#fa5705;
    }
/* Standard Font Styles */
